html,body{
    line-height: 1.7em;
    background-repeat: no-repeat;
    background-size:980px 1980px;
    background-image: url(../imgs/background.png)
    }
    
    #particles-js{
    width: 100%;
    height: 100%;
    background: black;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    font-family: "Audiowide", sans-serif;
    visibility: hidden;
    }
    
    .footer{
        position: fixed;
        bottom: 0;
        text-align: center;
        color: white;
    }
    
    .button{
        font-family: "Audiowide", sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .centered{
        font-size: 70px;
        top: 40%;
        left: 50%;
        visibility: visible;
    }
    
    .container{
        position: relative;
        overflow: hidden;
        font-size: 25px;
        float: left;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .logo{
        visibility: hidden;
    }