@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@media only screen and (max-width: 600px) {
  .usage{
    display:none;
  }
}
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
html{
  background-color: black!important;
  overflow-x: hidden;

}
/* h1 , h2 , h3 , h4 , h5 , h6{
  padding: 0;
  margin:0;
} */
#container{
  font-family: "Lucida Console", "Courier New", monospace;
  text-decoration: none;
  margin:auto;
  max-width: 1100px;
  overflow:auto;
  padding : 0 20px;
}
body , head{
  background-color:black;
}
  .footer {
    padding: 20px;
    text-align: center;
    background-color: rgb(65, 65, 65);
  }
  .main {   
    color: white;
    background-color: rgb(65, 65, 65);
    padding: 10px;
  }
  #navigation{

    /* font-size: 10px; */
    font-size: 13px;

    /* opacity:0; */
    scroll-snap-align: center;
    font-family: 'SF Pro Display' , sans-serif;
    
    /* background-color:#333; */
    background-color: black;
    overflow: auto;
    text-align: center;
    margin:auto;
    padding:20px;
    /* margin-bottom:20px; */
  }
  #navigation a{
    color:white;
  }
  #navigation h1{
    float:right;

    padding-top:20px;
    font-weight:bold;
  }
  #navigation ul{
  margin-left:100px;
    /* float:left; */
    list-style:none;
  }

  #navigation ul li{
    display:inline;
    /* float:right; */
    list-style: none;
  }
  #navigation ul li a{
    /* display:block; */
    text-decoration: none;
    padding:20px;
    text-align:center;
    font-weight: bold;
  }
  #navigation ul li a:hover ,#navigation ul li a.isOn {
    border-bottom:1px  solid  blue;
  }
  .logo a{
    font-family: "Lucida Console", "Courier New", monospace;
  text-decoration: none;  
  padding-right:15px;
  }
  .headd{
    color:lightblue;
    font-size:40px;
    margin-top:100px;
  } 
  
  .box img{
    display:block;
    width:100%;
    margin-bottom:10px;
    border-radius:5px;
  } 
 
.simple h4 , .simple-headings{
    font-family: 'Dancing Script', cursive;
    font-size:20px;
  }
.usage{
  margin-top:15px;
  background-color:lightgrey;
  padding:10px;
  border-radius:5px;
} 
.vast-heading{
  font-family: 'ZCOOL KuaiLe', cursive;
}
img{
  border-radius: 10px!important;

}
#gween{
  color:yellowgreen!important;
}
.templates{
  display:flex;
  flex-direction:row;
  width: 100%;
}
.box{
  width:29%;
  border-radius:5px;
  height:595px;
  background-color:white;
  margin:30px;
  padding:10px;
}
@font-face {
  font-family: anime;
  src: url('../fonts/Hangyaku-JR2AM.ttf');
}
@font-face {
  font-family:esports;
  src: url('../fonts/Debrosee-ALPnL.ttf')
}
.anime-heading{
  font-family:anime;
  font-size:18px;
}
.esports-heading{
  font-family:esports;
  font-size:16px;
}
.templates2{
  display:flex;
  flex-direction:row;
  width: 100%;
}
.usage{
  font-weight: normal;
}


